<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>nvwo</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  
    <filter>
    <filter-name>contentFilter</filter-name>
    <filter-class>com.simon.nvwo.javaweb.filter.permission.ContentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>contentFilter</filter-name>
    <url-pattern>/permission/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>noCacheFilter</filter-name>
    <filter-class>com.simon.nvwo.javaweb.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>noCacheFilter</filter-name>
    <url-pattern>/filter/*</url-pattern>
  </filter-mapping>
  
   <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.simon.nvwo.javaweb.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/filter/*</url-pattern>
  </filter-mapping>
  <!-- 用户名 ,用于loginfilterdemo-->
  <context-param>
  <param-name>userSessionKey</param-name>
  <param-value>USERSESSIONKEY</param-value>
  </context-param>
  <!-- 若未登录，则重定向的页面-->
  <context-param>
  	<param-name>redirectPage</param-name>
  	<param-value>/filter/login.jsp</param-value>
  </context-param>
  <!-- 不需要拦截的url列表 -->
  <context-param>
  	<param-name>uncheckedUrls</param-name>
  	<param-value>/filter/a.jsp,/filter/login.jsp,/filter/list.jsp</param-value>
  </context-param>
  
  
  <context-param>
    <param-name>initParameter</param-name>
    <param-value>100</param-value>
  </context-param>
  <context-param>
    <param-name>driverclass</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcurl</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>templatejsp</servlet-name>
    <jsp-file>/template.jsp</jsp-file>
    <init-param>
      <param-name>test</param-name>
      <param-value>testValue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>templatejsp</servlet-name>
    <url-pattern>/template.jsp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>curretnDate</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.curretnDate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageRedirect</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.PageRedirect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageHitCounter</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.PageHitCounter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SiteHitCounter</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.SiteHitCounter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.SendEmail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLocale</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.GetLocale</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplaySpanish</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.DisplaySpanish</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.simon.nvwo.javaweb.servlet.DemoServlet</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>curretnDate</servlet-name>
    <url-pattern>/curretnDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageRedirect</servlet-name>
    <url-pattern>/PageRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageHitCounter</servlet-name>
    <url-pattern>/PageHitCounter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SiteHitCounter</servlet-name>
    <url-pattern>/SiteHitCounter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLocale</servlet-name>
    <url-pattern>/GetLocale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplaySpanish</servlet-name>
    <url-pattern>/DisplaySpanish</url-pattern>
  </servlet-mapping>
</web-app>